<footer class="footer">
    <div class="footer__links hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="h-links-list">
                        <ul>
                            <li><a href="#">Site Map</a></li>
                            <li><a href="#">Search Terms</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="#">RSS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h-links-list text-right">
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__column-links">
        <div class="back-to-top"> <a href="#top" class="btn btn--round btn--round--lg"><span class="icon-arrow-up"></span></a></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs hidden-sm">
                    <!--  Logo  -->
                    <a class="logo logo--footer" href="/"> <img src="img/logosmall.png" alt=""/> </a>
                    <!-- End Logo -->
                </div>
                <div class="col-sm-3 col-md-2 mobile-collapse">
                    <h5 class="title text-uppercase mobile-collapse__title">Information </h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Shipping & Returns</a></li>
                            <li><a href="#">Privacy Notice</a></li>
                            <li><a href="#">Conditions of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 mobile-collapse">
                    <h5 class="title text-uppercase mobile-collapse__title">Service</h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li><a href="#">Online support</a></li>
                            <li><a href="#">Help & FAQs</a></li>
                            <li><a href="#">Call Center</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2 mobile-collapse">
                    <h5 class="title text-uppercase mobile-collapse__title">My account</h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order history</a></li>
                            <li><a href="#">Advanced search</a></li>
                            <li><a href="#">Reviews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 mobile-collapse mobile-collapse--last">
                    <h5 class="title text-uppercase mobile-collapse__title">Company Info</h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li class="icon icon-home">7563 St. Vincent Place, Glasgow</li>
                            <li class="icon icon-telephone">321321321, 321321321</li>
                            <li class="icon icon-mail"><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
                            <li class="icon icon-skype"><a href="#">shop.test</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    <div class="footer__subscribe">
<div class="container">
<div class="row">
<div class="col-sm-7 col-md-6">
<div id="subscribeSuccess">
<p>Your email was added successfully!</p>
</div>
<div id="subscribeError">
<p>Something went wrong, try refreshing and submitting the form again.</p>
</div>
<form id="subscribe-form" class="subscribe-form" method="post" novalidate>
  <label class="subscribe-form__label text-uppercase pull-left">Subscribe</label>
  <input type="text" class="subscribe-form__input input--wd" placeholder="Your e-mail address" name="subscribemail">
  <button type="submit" class="btn btn--wd text-uppercase wave"><span class="hidden-xs">Subscribe</span><span class="icon icon-mail-fill visible-xs"></span></button>
</form>
</div>
<div class="col-sm-5 col-md-6">
<div class="social-links social-links--colorize social-links--large">
  <ul>
    <li class="social-links__item"><a class="icon icon-facebook" href="https://www.facebook.com/RefricenterOfMiami"></a></li>
    <li class="social-links__item"><a class="icon icon-twitter" href="https://twitter.com/refricenter"></a></li>
    <li class="social-links__item"><a class="icon icon-google" href="http://www.google.com/"></a></li>
    <li class="social-links__item"><a class="icon icon-pinterest" href="http://www.pinterest.com/"></a></li>
    <li class="social-links__item"><a class="icon icon-mail" href="mailto:mail@google.com"></a></li>
  </ul>
</div>
</div>
</div>
</div>
</div>
<div class="footer__settings visible-xs">
        <div class="container text-center">
            <div class="dropdown pull-left">
                <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown" aria-expanded="false"><span class="header__dropdowns__button__symbol">$</span></a>
                <ul class="dropdown-menu animated fadeIn" role="menu">
                    <li class="currency__item currency__item--active"><a href="#">$ USA Dollar</a></li>
                    <li class="currency__item"><a href="#">€ Euro</a></li>
                    <li class="currency__item"><a href="#">£ British Pound</a></li>
                </ul>
            </div>
            <div class="dropdown pull-left">
                <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown" aria-expanded="false"><span class="flag"><img src="images/flags/gb.png" alt=""></span></a>
                <ul class="dropdown-menu animated fadeIn languages languages--flag" role="menu">
                    <li class="languages__item languages__item--active"><a href="#"><span class="languages__item__flag flag"><img src="images/flags/gb.png" alt=""></span><span class="languages__item__label">En</span></a></li>
                    <li class="languages__item"><a href="#"><span class="languages__item__flag flag"><img src="images/flags/de.png" alt=""></span><span class="languages__item__label">De</span></a></li>
                    <li class="languages__item"><a href="#"><span class="languages__item__flag flag"><img src="images/flags/fr.png" alt=""></span><span class="languages__item__label">Fr</span></a></li>
                </ul>
            </div>
            <div class="dropdown pull-left">
                <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown" aria-expanded="false">Account</a>
                <ul class="dropdown-menu animated fadeIn" role="menu">
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">Compare</a></li>
                    <li><a href="#">Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">      <div class="container">
<div class="pull-left text-uppercase">© 2016 <a href="#">Welldone :)</a>. All Rights Reserved. </div>
<div class="pull-left text-center">
<label>Select Store: </label>
<div class="select-wrapper">
  <select class="select--wd select--wd--xs">
    <option>Store Name 1</option>
    <option>Store Name 2</option>
    <option>Store Name 3</option>
  </select>
</div>
</div>
<div class="pull-right text-uppercase text-right">with love <span class="icon-favorite color-heart"></span> from <a href="http://themeforest.net/user/etheme">etheme</a></div>
</div>
</div>
</footer>
