
    <div id="loader-wrapper" class="loader-off">
        <div id="loader"></div>
    </div>
    <!-- Modal Search -->
    <div class="overlay overlay-scale">
        <button type="button" class="overlay-close"> ✕ </button>
        <div class="overlay__content">
            <form id="search-form" class="search-form outer" action="#" method="post">
                <div class="input-group input-group--wd">
                    <input type="text" class=" input--full" placeholder="search text here ...">
                    <span class="input-group__bar"></span>
                </div>
                <button class="btn btn--wd text-uppercase wave waves-effect">Search</button>
            </form>
        </div>
    </div>
    <!-- / end Modal Search -->
    <div class="wrapper">
        <!-- Header section -->
        <header class="header header--sticky">
            <div class="header-line hidden-xs">
                <div class="container">
                    <div class="pull-left">
                        <div class="social-links social-links--colorize">
                            <ul>
                                <li class="social-links__item"><a class="icon icon-facebook" href="https://www.facebook.com/RefricenterOfMiami"></a></li>
                                <li class="social-links__item"><a class="icon icon-twitter" href="https://twitter.com/refricenter"></a></li>
                                <li class="social-links__item"><a class="icon icon-google" href="#"></a></li>
                                <li class="social-links__item"><a class="icon icon-pinterest" href="#"></a></li>
                                <li class="social-links__item"><a class="icon icon-mail" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="user-links">
                            <ul>
                                <li class="user-links__item"><a href="#">Sign In</a></li>
                                <!-- <li class="user-links__item"><a href="#">Register</a></li> -->
                                <li  class="user-links__item user-links__item--separate"><a href="#" class="color-twitter"></a><a href="#" class="color-facebook">CUSTOMER</a> LOGIN</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__dropdowns-container">
                <div class="header__dropdowns">
                    <div class="header__search pull-left"> <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button search-open"
                        ><span class="icon icon-search"></span></a> </div>
                    <div class="header__cart pull-left">
                        <!-- <span class="header__cart__indicator hidden-xs">$0.00</span> -->
                        <div class="dropdown pull-right">
                            <!-- <a href="#" class="btn dropdown-toggle btn--links--dropdown header__cart__button header__dropdowns__button" data-toggle="dropdown"><span class="icon icon-bag-alt"></span><span class="badge badge--menu">2</span></a> -->
                            <div class="dropdown-menu animated fadeIn shopping-cart" role="menu">
                                <div class="shopping-cart__settings"><a href="#" class="icon icon-gear"></a></div>
                                <div class="shopping-cart__top text-uppercase">Your Cart(2)</div>
                                <ul>
                                    <li class='shopping-cart__item'>
                                        <div class="shopping-cart__item__image pull-left"><a href="#"><img src="images/products/product.jpg" alt=""/></a></div>
                                        <div class="shopping-cart__item__info">
                                            <div class="shopping-cart__item__info__title">
                                                <h2 class="text-uppercase"><a href="#">Fast Seconds Knit White</a></h2>
                                            </div>
                                            <div class="shopping-cart__item__info__option">Color: Blue</div>
                                            <div class="shopping-cart__item__info__option">Size: Small</div>
                                            <div class="shopping-cart__item__info__price">$84.00</div>
                                            <div class="shopping-cart__item__info__qty">Qty:1</div>
                                            <div class="shopping-cart__item__info__delete"><a href="#" class="icon icon-clear"></a></div>
                                        </div>
                                    </li>
                                    <li class='shopping-cart__item'>
                                        <div class="shopping-cart__item__image pull-left"><a href="#"><img src="images/products/product.jpg" alt=""/></a></div>
                                        <div class="shopping-cart__item__info">
                                            <div class="shopping-cart__item__info__title">
                                                <h2 class="text-uppercase"><a href="#">Fast Seconds Knit White</a></h2>
                                            </div>
                                            <div class="shopping-cart__item__info__option">Color: Blue</div>
                                            <div class="shopping-cart__item__info__option">Size: Small</div>
                                            <div class="shopping-cart__item__info__price">$84.00</div>
                                            <div class="shopping-cart__item__info__qty">Qty:1</div>
                                            <div class="shopping-cart__item__info__delete"><a href="#" class="icon icon-clear"></a></div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart__bottom">
                                    <div class="pull-left">Subtotal: <span class="shopping-cart__total"> $130.00</span></div>
                                    <div class="pull-right">
                                        <button class="btn btn--wd text-uppercase">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        <div class="dropdown pull-right"> <a href="#" class="btn dropdown-toggle btn--links--dropdown header__dropdowns__button" data-toggle="dropdown"><span class="icon icon-dots"></span></a>
      <ul class="dropdown-menu ul-row animated fadeIn" role="menu">
        <li class='li-col currency'>
    <h4>Currency</h4>
          <ul>
            <li class="currency__item active"><a href="#"><span>$</span>US Dollar</a></li>
            <li class="currency__item"><a href="#"><span>€</span>Euro</a></li>
            <li class="currency__item"><a href="#"><span>£</span>British Pound</a></li>
            <li class="currency__item"><a href="#"><span>¥</span>Japanese Yen</a></li>
            <li class="currency__item"><a href="#"><span>₹</span>Indian Rupee</a></li>
          </ul>
        </li>
        <li class='li-col languages languages--flag'>
    <h4>Language</h4>
          <ul>
            <li class="languages__item active"><a href="#"><span class="languages__item__flag flag"><img src="images/flags/gb.png" alt=""/></span><span class="languages__item__label">En</span></a></li>
            <li class="languages__item"><a href="#"><span class="languages__item__flag flag"><img src="images/flags/de.png" alt=""/></span><span class="languages__item__label">De</span></a></li>
            <li class="languages__item"><a href="#"><span class="languages__item__flag flag"><img src="images/flags/fr.png" alt=""/></span><span class="languages__item__label">Fr</span></a></li>
          </ul>
        </li>
        <li class='li-col list-user-menu'>
    <h4>My Account</h4>
          <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Compare</a></li>
            <li><a href="#">Checkout</a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>
            </div>
            <nav class="navbar navbar-wd" id="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" id="slide-nav"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <!--  Logo  -->
                        <a class="logo" href="/"> <img class="logo-default" src="img/logosmall.png" alt=""/> <img class="logo-mobile" src="img/logosmall.png" alt=""/> <img class="logo-transparent" src="img/logosmall.png" alt=""/> </a>
                        <!-- End Logo -->
                    </div>
                    <div class="pull-left search-focus-fade" id="slidemenu">
                        <div class="slidemenu-close visible-xs">✕</div>
                        <ul class="nav navbar-nav">
        <li> <a href="/" class="dropdown-toggle"><span class="link-name">Home</span><span class="caret caret--dots"></span></a>
          <!-- <ul class="dropdown-menu animated fadeIn" role="menu">
            <li><a href="index-layout1.html">SwimWear Layout</a></li>
            <li><a href="index-layout2.html">Flowers Layout</a></li>
            <li><a href="index-layout3.html">Travel Layout</a></li>
            <li><a href="index-layout4.html">IShop Layout</a></li>
            <li><a href="index-layout5.html">Medicine Layout</a></li>
            <li><a href="index-layout6.html">Gifts Store Layout</a></li>
            <li><a href="index-layout7.html">Toy Store Layout</a></li>
            <li><a href="index-layout8.html">Sport Layout</a></li>
          </ul> -->
        </li>
        <li> <a href="/" class="dropdown-toggle"><span class="link-name">Products</span><span class="caret caret--dots"></span></a>
          <!-- <ul class="dropdown-menu animated fadeIn" role="menu">
            <li><a href="index.html">Default</a></li>
            <li><a href="index-boxed.html">Boxed</a></li>
            <li><a href="index-full.html">FullWidth</a></li>
            <li><a href="index-tranparent-header.html">Transparent Header</a></li>
            <li><a href="index-landing-banners.html">Landing Banners</a></li>
            <li><a href="index-landing-category.html">Landing Category</a></li>
            <li><a href="index-landing-content.html">Landing Content</a></li>
            <li><a href="index-vertical-megamenu.html">Vertical Megamenu</a></li>
            <li><a href="index-art-catalogue.html">Art catalogue</a></li>
            <li><a href="index-original.html">Original</a></li>
            <li><a href="index-intro.html">Intro</a></li>
            <li><a href="lookbook.html">Lookbook</a></li>
            <li><a href="index-layout1.html">SwimWear Layout</a></li>
            <li><a href="index-layout2.html">Flowers Layout</a></li>
            <li><a href="index-layout3.html">Travel Layout</a></li>
            <li><a href="index-layout4.html">IShop Layout</a></li>
            <li><a href="index-layout5.html">Medicine Layout</a></li>
            <li><a href="index-layout6.html">Gifts Store Layout</a></li>
            <li><a href="index-layout7.html">Toy Store Layout</a></li>
            <li><a href="index-layout8.html">Sport Layout</a></li>
          </ul> -->
        </li>
<!-- <li>
                                <a href="/"  class="dropdown-toggle"><span class="link-name">Offers</span><span class="caret caret--dots"></span></a>
                                <ul class="dropdown-menu animated fadeIn" role="menu">
                                    <li><a href="blog.html">Blog Posts</a></li>
                                    <li><a href="blogpost.html">Blog Post</a></li>
                                    <li><a href="blog-right-column.html">Blog With Column</a></li>
                                </ul>
                            </li> -->
                            <li>
                                <a href="http://www.refricenter.net/locations.asp"  class="dropdown-toggle"><span class="link-name">Locations</span><span class="caret caret--dots"></span></a>
                            </li>
                            <li class="menu-large">
                                <a href="http://www.refricenter.net/btu-calculator.asp" class="dropdown-toggle"><span class="link-name">Calculator</span><span class="caret caret--dots"></span></a>
                            </li>
                            <li><a href="/about" class="wave"><span class="link-name">About</span><span class="caret caret--dots"></span></a></li>
                            <li>
                                <a href="/contact" class="dropdown-toggle"><span  class="link-name">Contact</span><span class="badge badge--menu">!</span><span class="caret caret--dots"></span></a>
                            </li>
                            <li class="menu-large">
                                <div class="dropdown-menu megamenu animated fadeIn">
                                    <div class="container">
                                        <div class="row megamenu__content">
                                            <div class="col-sm-4">
                                                <div class="text-center">
                                                    <a href="#"><img src="images/wd-present-01.jpg" class="img-responsive" alt="welldone"></a>
                                                    <div class="text-uppercase"><a href="#">More than just responsive</a></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="text-center">
                                                    <a href="#"><img src="images/wd-present-02.jpg" class="img-responsive" alt="welldone"></a>
                                                    <div class="text-uppercase"><a href="#">Page builder. Freedom - create your own layout</a></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="text-center">
                                                    <a href="#"><img src="images/wd-present-03.jpg" class="img-responsive" alt="welldone"></a>
                                                    <div class="text-uppercase"><a href="#">Premium plugins/extensions s
                                                        that are included for FREE </a>
                                                    </div>
                                                    (Slider Revolution, Colour swatch, Cloud Zoom, Blog)<br>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="text-center"><a class="btn btn--wd">BUY THEME</a></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End Header section -->
