<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>Refricenter About</title>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="WellDone - Responsive HTML5 Template">
<meta name="author" content="etheme.com">
<link rel="shortcut icon" href="favicon.ico">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
<!-- Icon Fonts  -->
<link rel="stylesheet" href="font/style.css">
<!-- Vendor CSS -->
<link rel="stylesheet" href="vendor/waves/waves.css">
<link rel="stylesheet" href="vendor/slick/slick.css">
<link rel="stylesheet" href="vendor/slick/slick-theme.css">
<link rel="stylesheet" href="vendor/bootstrap-select/bootstrap-select.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- Head Libs -->

<!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
<!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

<!-- Modernizr -->
<script src="vendor/modernizr/modernizr.js"></script>
</head>

<body>
  <div id="pageContent">

    <!-- Breadcrumb section -->

    <section class="breadcrumbs  hidden-xs">
      <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
          <li><a href="#">Home</a></li>
          <li class="active">About Us</li>
        </ol>
      </div>
    </section>

    <!-- Content section -->
    <section class="content">
      <div class="container">
        <h2 class="text-uppercase">About Us</h2>
        <div class="card card--padding">
          <div class="row">
            <div class="col-sm-7 col-md-8">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-md-10"> Refricenter International has long been committed to being one of South Florida's leading stocking distributors of HVACR equipment, parts and supplies.

Our nine branches are located across South Florida, servicing areas stretching from Miami-Dade County through West Palm Beach.</div>

            <div class="col-sm-9 col-md-10"> We serve all South Florida HVACR contractors' needs with our full line of products and services - including our leading brands of A/C equipment - Westinghouse, Philco, LG, Luxaire, and Climate Master. Refricenter also has affiliate companies located in both Puerto Rico and the Dominican Republic, where they have been market leaders since the 1960's. As of the beginning of 2013, there are 15 stores located within Puerto Rico and another 15 stores based in the Dominican Republic.

Our experienced and well staffed export department services all Central and South American countries, the Caribbean, and Mexico. We are backed by the largest and most complete inventory of air conditioning equipment in both 60hz and 50hz under our own renowned brands: TGM, Classic, and Excell. Working in unison with our Traffic department, we make sure that customers' orders are processed quickly and correctly in order to make sure your business keeps moving.

Refricenter carries a wide range of parts and supplies from some of the top manufacturers in the industry, such as Hart and Cooley Flex, Emerson, CertainTeed, Honeywell, White Rodgers, Nutone, Copeland, Tecumseh, Toshiba, Sanyo, Bristol, York, Atco Flex, among many others.

Refricenter has strived to be a trusted name among South Florida and Latin American contractors and distributors. We pride ourselves on maintaining a well-stocked inventory, so when you come into one of our stores you will always find what you're looking for. Our experienced sales staff can also help facilitate any special requests, no matter how big or small.

We invite you to visit one of our store locations and familiarize yourself with our staff and the over 10,000 items in our inventory.</div>
            <div class="divider divider--sm visible-xs"></div>
            <!-- <div class="col-sm-5 col-md-4"> <a href="#" class="btn btn--wd btn--xxl animation" data-animation="fadeInUp" data-animation-delay="0.5s">JOIN OUR TEAM</a> </div> -->
          </div>
        </div>
        <div class="divider divider--md"></div>
        <div class="row">
          <div class="col-sm-3 animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-money"></a>
                <h5 class="card--icon__cell__title text-uppercase">Online PAYMENTS</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-3 animation" data-animation="fadeInLeft" data-animation-delay="0s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-truck"></a>
                <h5 class="card--icon__cell__title text-uppercase">FREE SHIPPING</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-3 animation" data-animation="fadeInRight" data-animation-delay="0s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-responsive"></a>
                <h5 class="card--icon__cell__title text-uppercase">Many FEATURES</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-3 animation" data-animation="fadeInRight" data-animation-delay="0.5s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-help"></a>
                <h5 class="card--icon__cell__title text-uppercase">Dedicated support</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content content--fill bottom-null">
      <div class="container">
        <h2 class="text-center">WE CREATE HIGH <strong>QUALITY PRODUCTS</strong> THAT ARE USED AND LOVED BY THOUSANDS OF CUSTOMERS</h2>
        <div class="row">
          <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
            <h5 class="text-uppercase">Mauris aliquet ultricies ante, non faucibus ante.</h5>
            <p>In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor. Fusce lacinia tempor malesuada. Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.</p>
            <div class="divider divider--xs"></div>
            <p><a href="#" class="btn btn--wd">READ MORE</a></p>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0s">
            <h5 class="text-uppercase">Quisque vestibulum massa.</h5>
            <p>In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor. Fusce lacinia tempor malesuada. Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.</p>
            <div class="divider divider--xs"></div>
            <p><a href="#" class="btn btn--wd">READ MORE</a></p>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
            <h5 class="text-uppercase">Nulla libero. Donec et mi eu massa labore.</h5>
            <p>In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor. Fusce lacinia tempor malesuada. Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.</p>
            <div class="divider divider--xs"></div>
            <p><a href="#" class="btn btn--wd">READ MORE</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Content section -->
  </div>

</div>
<!-- Vendor -->
<!-- jQuery 1.10.1-->
<script src="vendor/jquery/jquery.js"></script>
<!-- Bootstrap 3-->
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<!-- Specific Page Vendor -->
<script src="vendor/waves/waves.min.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="vendor/parallax/jquery.parallax-1.1.3.js"></script>
<script src="vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="vendor/waypoints/sticky.min.js"></script>
<script src="vendor/doubletaptogo/doubletaptogo.js"></script>
<script src="vendor/elevatezoom/jquery.elevatezoom.js"></script>
<script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script><script src="vendor/countdown/jquery.plugin.min.js"></script>
<script src="vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="vendor/form/jquery.form.js"></script>
<script src="vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
</body>
</html>
