<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>Refricenter Contact</title>
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="WellDone - Responsive HTML5 Template">
<meta name="author" content="etheme.com">
<link rel="shortcut icon" href="favicon.ico">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
<!-- Icon Fonts  -->
<link rel="stylesheet" href="font/style.css">
<!-- Vendor CSS -->
<link rel="stylesheet" href="vendor/waves/waves.css">
<link rel="stylesheet" href="vendor/slick/slick.css">
<link rel="stylesheet" href="vendor/slick/slick-theme.css">
<link rel="stylesheet" href="vendor/bootstrap-select/bootstrap-select.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- Head Libs -->

<!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
<!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

<!-- Modernizr -->
<script src="vendor/modernizr/modernizr.js"></script>

</head>

<body>
  <div id="pageContent">

    <!-- Breadcrumb section -->

    <section class="breadcrumbs  hidden-xs">
      <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
          <li><a href="#">Home</a></li>
          <li class="active">Contact Us</li>
        </ol>
      </div>
    </section>

    <!-- Content section -->
    <section class="content content--fill top-null">
      <div class="container">
		<form id="contactform" class="contact-form" name="contactform" method="post" novalidate>
          <div class="row">
            <div class="col-sm-7">
              <h2 class="text-uppercase text-center">LEAVE A COMMENT</h2>
			 <div id="success">
				<p>Your message was sent successfully!</p>
			 </div>
			 <div id="error">
				<p>Something went wrong, try refreshing and submitting the form again.</p>
			 </div>
             <div class="input-group input-group--wd">
                <input type="text" class="input--full" name="name">
                <span class="input-group__bar"></span>
                <label>Your Name (required)</label>
              </div>
              <div class="input-group input-group--wd">
                <input type="text" class="input--full" name="email">
                <span class="input-group__bar"></span>
                <label>Your Email (required)</label>
              </div>
              <div class="input-group input-group--wd">
                <input type="text" class="input--full" name="subject">
                <span class="input-group__bar"></span>
                <label>Subject</label>
              </div>
              <div class="input-group input-group--wd">
                <textarea class="textarea--full" name="message"></textarea>
                <span class="input-group__bar"></span>
                <label>Your Message</label>
              </div>
              <button type="submit" id="submit" class="btn btn--wd text-uppercase wave">Send Message</button>
            </div>
            <div class="divider divider--sm visible-xs"></div>
            <div class="col-sm-5 text-center">
              <div class="divider divider--lg visible-lg"></div>
              <h2 class="text-uppercase">Let’s Start Now!</h2>
              <p>In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor. Fusce lacinia tempor malesuada. Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.</p>
              <p>3599 NW 54th St., Miami, Fl 33142<br/>
                Phone: (305) 477-8880<br/>
                Email: <a href="#">info@mydomain.com</a></p>
            </div>
          </div>
        </form>
      </div>
    </section>
    <section class="content fullwidth top-null bottom-null">
      <!-- 		   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6115.684863819771!2d-82.9719195443651!3d39.96727545833253!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf3846176f3dff5ed!2sLa+Aurora!5e0!3m2!1sen!2sus!4v1416911994304" class="map"></iframe> -->
    </section>
    <!-- End Content section -->
  </div>
</div>
<!-- Vendor -->
<!-- jQuery 1.10.1-->
<script src="vendor/jquery/jquery.js"></script>
<!-- Bootstrap 3-->
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<!-- Specific Page Vendor -->
<script src="vendor/waves/waves.min.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="vendor/parallax/jquery.parallax-1.1.3.js"></script>
<script src="vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="vendor/waypoints/sticky.min.js"></script>
<script src="vendor/doubletaptogo/doubletaptogo.js"></script>
<script src="vendor/elevatezoom/jquery.elevatezoom.js"></script>
<script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script><script src="vendor/countdown/jquery.plugin.min.js"></script>
<script src="vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="vendor/form/jquery.form.js"></script>
<script src="vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
</body>
</html>
