<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>Refricenter</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="WellDone - Responsive HTML5 Template">
        <meta name="author" content="etheme.com">
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
        <!-- Icon Fonts  -->
        <link rel="stylesheet" href="font/style.css">
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="vendor/waves/waves.css">
        <link rel="stylesheet" href="vendor/slick/slick.css">
        <link rel="stylesheet" href="vendor/slick/slick-theme.css">
        <link rel="stylesheet" href="vendor/bootstrap-select/bootstrap-select.css">
                <!-- Parallax carousel / CSS -->
        <link rel="stylesheet" href="vendor/parallax-carousel/pcarousel.min.css" >
        <!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="vendor/rs-plugin/css/settings.css" media="screen" />
        <!-- Head Libs -->
        <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
        <!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
        <!-- Modernizr -->
        <script src="vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
            <div id="pageContent" class="page-content">
              <section class="content" id="slider">
                  <!-- Slider section -->
                  <!--
                      #################################
                        - THEMEPUNCH BANNER -
                      #################################
                      -->
                  <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->
                  <div class="hidden-xs tp-banner-container">
                      <div class="tp-banner" >
                          <ul>
                              <!-- SLIDE  -->
                              <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                                  <!-- MAIN IMAGE -->
                                  <img src="images/slides/fridge1.jpeg" style="height: 100%;" alt="slide1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                  <!-- LAYERS -->
                                  <!-- LAYER NR. 1 -->
                                  <div class="tp-caption tp-caption--wd-1  lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="-100"
                                      data-speed="600"
                                      data-start="800"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      style="z-index: 1;"></div>
                                  <!-- LAYER NR. 2 -->
                                  <div class="tp-caption tp-caption--wd-2 lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="0"
                                      data-speed="600"
                                      data-start="900"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      style="z-index: 2;"></div>
                                  <!-- LAYER NR. 3 -->
                                  <!-- <div class="tp-caption tp-caption--wd-3 lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="70"
                                      data-speed="600"
                                      data-start="1000"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      data-captionhidden="on"
                                      style="z-index: 3;">the New & Exiting 2016 Collection </div> -->
                                  <!-- LAYER NR. 4 -->
                                  <!-- <div class="tp-caption lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="160"
                                      data-speed="600"
                                      data-start="1100"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      style="z-index: 11;"><a href="#" class="btn btn--wd btn--xl">SHOP NOW</a> </div> -->
                              </li>
                              <!-- SLIDE  -->
                              <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                                  <!-- MAIN IMAGE -->
                                  <img src="images/slides/slide-2.jpg"  alt="slide2"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                  <!-- LAYERS -->
                                  <!-- LAYER NR. 1 -->
                                  <div class="tp-caption tp-caption--wd-4  lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="-150"
                                      data-speed="600"
                                      data-start="800"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      style="z-index: 10;">Refricenter <span class="custom-color">:)</span></div>
                                  <!-- LAYER NR. 2 -->
                                  <!-- <div class="tp-caption tp-caption--wd-5 lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="-70"
                                      data-speed="600"
                                      data-start="900"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      style="z-index: 10;">The Most Popular Store</div> -->
                                  <!-- LAYER NR. 3 -->
                                  <!-- <div class="tp-caption tp-caption--wd-6 lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="0"
                                      data-speed="600"
                                      data-start="1000"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      data-captionhidden="on"
                                      style="z-index: 10;">Fully Customizable Responsive Theme</div> -->
                                  <!-- LAYER NR. 4 -->
                                  <!-- <div class="tp-caption lfb ltt"
                                      data-x="center"
                                      data-y="center"
                                      data-voffset="100"
                                      data-speed="600"
                                      data-start="1100"
                                      data-easing="Power4.easeOut"
                                      data-endeasing="Power4.easeIn"
                                      style="z-index: 11;"><a href="#" class="btn btn--wd btn--xl">SHOP NOW</a> </div> -->
                                  <!-- IMAGE NR. 1 -->
                                  <!-- <div class="tp-caption  lft ltt rs-parallaxlevel-1"
                                      data-x="650"
                                      data-y="0"
                                      data-speed="900"
                                      data-start="1000"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 5;"			 ><img src="images/slides/s7.png" alt="Image1"></div> -->
                                  <!-- IMAGE NR. 2 -->
                                  <!-- <div class="tp-caption  lfr ltr rs-parallaxlevel-3"
                                      data-x="900"
                                      data-y="130"
                                      data-speed="1000"
                                      data-start="1200"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 5;"			 ><img src="images/slides/s11.png" alt="Image2"></div> -->
                                  <!-- IMAGE NR. 3 -->
                                  <!-- <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                      data-x="-100"
                                      data-y="-10"
                                      data-speed="900"
                                      data-start="1400"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 5;"			 ><img src="images/slides/s1.png" alt="Image3"></div> -->
                                  <!-- IMAGE NR. 4 -->
                                  <!-- <div class="tp-caption  lfb ltb rs-parallaxlevel-2"
                                      data-x="-100"
                                      data-y="300"
                                      data-speed="900"
                                      data-start="1600"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 6;"			 ><img src="images/slides/s2.png" alt="Image4"></div> -->
                                  <!-- IMAGE NR. 5 -->
                                  <!-- <div class="tp-caption  lfb ltb rs-parallaxlevel-1"
                                      data-x="690"
                                      data-y="430"
                                      data-speed="900"
                                      data-start="1000"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 5;"			 ><img src="images/slides/s12.png" alt="Image5"></div> -->
                                  <!-- IMAGE NR. 6 -->
                                  <!-- <div class="tp-caption  fadeIn fadeOut rs-parallaxlevel-2"
                                      data-x="100"
                                      data-y="150"
                                      data-speed="900"
                                      data-start="1200"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 6;"			 ><img src="images/slides/s4.png" alt="Image6"></div> -->
                                  <!-- IMAGE NR. 7 -->
                                  <!-- <div class="tp-caption  lfb ltb rs-parallaxlevel-3"
                                      data-x="330"
                                      data-y="620"
                                      data-speed="900"
                                      data-start="2000"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 6;"			 ><img src="images/slides/s9.png" alt="Image7"></div> -->
                                  <!-- IMAGE NR. 8 -->
                                  <!-- <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                      data-x="350"
                                      data-y="0"
                                      data-speed="900"
                                      data-start="600"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 7;"			 ><img src="images/slides/s6.png" alt="Image8"></div> -->
                                  <!-- IMAGE NR. 9 -->
                                  <!-- <div class="tp-caption  lfr ltr rs-parallaxlevel-2"
                                      data-x="950"
                                      data-y="600"
                                      data-speed="900"
                                      data-start="2400"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 7;"			 ><img src="images/slides/s13.png" alt="Image9"></div> -->
                                  <!-- IMAGE NR. 10 -->
                                  <!-- <div class="tp-caption  lfb ltb rs-parallaxlevel-2"
                                      data-x="120"
                                      data-y="600"
                                      data-speed="900"
                                      data-start="1600"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 7;"			 ><img src="images/slides/s5.png" alt="Image10"></div> -->
                                  <!-- IMAGE NR. 11 -->
                                  <!-- <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                      data-x="900"
                                      data-y="-20"
                                      data-speed="900"
                                      data-start="1000"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 7;"			 ><img src="images/slides/s10.png" alt="Image11"></div> -->
                                  <!-- IMAGE NR. 12 -->
                                  <!-- <div class="tp-caption  lft ltt rs-parallaxlevel-2"
                                      data-x="140"
                                      data-y="-20"
                                      data-speed="900"
                                      data-start="800"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 7;"			 ><img src="images/slides/s3.png" alt="Image12"></div> -->
                                  <!-- IMAGE NR. 13 -->
                                  <!-- <div class="tp-caption  fadeIn fadeOut rs-parallaxlevel-2"
                                      data-x="480"
                                      data-y="500"
                                      data-speed="900"
                                      data-start="1800"
                                      data-easing="Power4.easeOut"
                                      style="z-index: 7;"			 ><img src="images/slides/s8.png" alt="Image13"></div> -->
                              </li>
                          </ul>
                      </div>
                      <div class="scroll-to-content"> <a href="#" class="btn btn--round btn--round--lg"><span class="icon icon-arrow-down"></span></a></div>
                  </div>
              </section>
                <!-- END REVOLUTION SLIDER -->
                <!-- End Slider section -->
                <!-- Content section -->
                <section class="content fullwidth">
                    <div class="container">
                        <h2 class="text-center text-uppercase">product CATEGORIES</h2>
                        <div class="parallax-gallery animated-arrows">
                            <!-- carousel-navigation-wrapper -->
							<div class="carousel-navigation-wrapper">
                                <!-- сс-carousel -->
								<div class="parallax-gal-carousel">
                                    <!-- сс-carousel-content -->
									<div class="parallax-gal-carousel-content">
                                        <div class="parallax-gal-slide  hover-squared lg" data-row="1" style="left: 136.344%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-01.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Men Suits</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared sm" data-row="1" style="left: 96.3445%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-02.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Kids Clothes</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared sm" data-row="1" style="left: 66.3445%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-03.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Accessories</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="4" style="left: 165.861%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-04.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Shoes</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="2" style="left: 149.517%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-05.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Underwear</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="3" style="left: 237.689%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-16.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Dresses</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared lg" data-row="3" style="left: 302.689%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-17.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Bags</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="2" style="left: -35.4833%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-01.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Men Suits</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared lg" data-row="1" style="left: 16.3445%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-02.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Kids Clothes</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared lg" data-row="3" style="left: -27.311%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-03.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Accessories</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="2" style="left: 29.5167%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-04.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Shoes</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared sm" data-row="4" style="left: -9.13877%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-05.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Underwear</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="2" style="left: 99.5167%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-16.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Dresses</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared lg" data-row="3" style="left: 52.689%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-17.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Bags</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="4" style="left: 120.861%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-01.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Men Suits</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared sm" data-row="4" style="left: 250.861%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-02.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Kids Clothes</div>
                                        </div>
                                        <div class="parallax-gal-slide  hover-squared med" data-row="4" style="left: 335.861%">
                                            <div class="parallax-gal-image">
                                                <a href=""><img src="images/category-img-03.jpg" alt=""></a>
                                                <div class="caption"></div>
                                            </div>
                                            <div class="parallax-gal-caption">Accessories</div>
                                        </div>
                                    </div>
                                    <!-- /сс-carousel-content -->
                                </div>
                                <!-- /сс-carousel -->
								<div class="nav-arrow left slick-prev"></div>
								<div class="nav-arrow right slick-next"></div>
                            </div>
                            <!-- /carousel-navigation-wrapper -->
                        </div>
                    </div>
                </section>
                <section class="content content--parallax" data-image="images/parallax-bg.jpg">
                    <div class="container">
                        <div class="blog-widget">
                            <h2 class="blog-widget__title text-uppercase">From The Blog</h2>
                            <div class="blog-carousel mobile-special-arrows  animated-arrows show-3">
                                <div class="blog-widget__item">
                                    <div class="blog-widget__item__image-cell pull-left"><img src="images/blog-author-img-01.jpg" alt=""/></div>
                                    <div class="blog-widget__item__offset-text pull-right">
                                        <h3 class="blog-widget__item__offset-text__title text-uppercase">Integer vel nibh sit amet turpis </h3>
                                        <div class="blog-widget__item__offset-text__date"><span>Friday, 29 May 2015</span></div>
                                        <a href="#" class="btn btn--wd">READ MORE</a>
                                    </div>
                                </div>
                                <div class="blog-widget__item">
                                    <div class="blog-widget__item__image-cell pull-left"><img src="images/blog-author-img-02.jpg" alt=""/></div>
                                    <div class="blog-widget__item__offset-text pull-right">
                                        <h3 class="blog-widget__item__offset-text__title text-uppercase">Nulla mauris ipsum convallis vestibulum</h3>
                                        <div class="blog-widget__item__offset-text__date"><span>Friday, 29 May 2015</span></div>
                                        <a href="#" class="btn btn--wd">READ MORE</a>
                                    </div>
                                </div>
                                <div class="blog-widget__item">
                                    <div class="blog-widget__item__image-cell pull-left"><img src="images/blog-author-img-03.jpg" alt=""/></div>
                                    <div class="blog-widget__item__offset-text pull-right">
                                        <h3 class="blog-widget__item__offset-text__title text-uppercase">Integer ligula magna pulvinar ultricies</h3>
                                        <div class="blog-widget__item__offset-text__date"><span>Friday, 29 May 2015</span></div>
                                        <a href="#" class="btn btn--wd">READ MORE</a>
                                    </div>
                                </div>
                                <div class="blog-widget__item">
                                    <div class="blog-widget__item__image-cell pull-left"><img src="images/blog-author-img-04.jpg" alt=""/></div>
                                    <div class="blog-widget__item__offset-text pull-right">
                                        <h3 class="blog-widget__item__offset-text__title text-uppercase">Integer ligula magna pulvinar ultricies</h3>
                                        <div class="blog-widget__item__offset-text__date"><span>Friday, 29 May 2015</span></div>
                                        <a href="#" class="btn btn--wd">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container">
                        <!-- Modal -->
                        <div class="modal quick-view zoom" id="quickView"  style="opacity: 1">
                            <div class="modal-dialog">
                                <div class="modal-content"> </div>
                            </div>
                        </div>
                        <!-- /.modal -->
                        <!-- Filters -->
                        <section class="filters-by-category">
                            <div class="container">
                                <ul class="option-set" data-option-key="filter">
                                    <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
                                    <li><a href="#filter" data-option-value=".category1" class="">Sale</a></li>
                                    <li><a href="#filter" data-option-value=".category2" class="">New</a></li>
                                    <li><a href="#filter" data-option-value=".category3" class="">Featured</a></li>
                                    <li><a href="#filter" data-option-value=".category4" class="">Popular</a></li>
                                </ul>
                            </div>
                        </section>
                        <!-- //end Filters -->
                        <div class="products-grid products-listing products-col products-isotope four-in-row">
                            <div class="product-preview-wrapper category1 category2">
                                <div class="product-preview">
                                    <div class="product-preview__image">
                                        <a href="product.html"><img src="images/products/product-1.jpg" alt=""/></a>
                                        <div class="product-preview__label product-preview__label--left product-preview__label--new"><span>new</span></div>
                                        <div class="product-preview__label product-preview__label--right product-preview__label--sale"><span>sale<br>
                                            -10%</span>
                                        </div>
                                    </div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <ul class="options-swatch options-swatch--color">
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/yellow.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/green.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/dark-grey.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/grey.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/white.png" width="10" height="10" alt=""/></span></a></li>
                                        </ul>
                                        <div class="price-box "><span class="price-box__new">$65.00</span> <span class="price-box__old">$84.00</span></div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-wrapper category2">
                                <div class="product-preview">
                                    <div class="product-preview__image">
                                        <a href="product.html"><img src="images/products/product-2.jpg"  alt=""/></a>
                                        <div class="product-preview__label product-preview__label--left product-preview__label--new"><span>new</span></div>
                                        <div class="countdown_box">
                                            <div class="countdown_inner">
                                                <div class="title">special price valid:</div>
                                                <div id="countdown1"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <ul class="options-swatch options-swatch--color">
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/yellow.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/green.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/dark-grey.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/grey.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
                                            <li><a href="#"><span class="swatch-label"><img src="images/colors/white.png" width="10" height="10" alt=""/></span></a></li>
                                        </ul>
                                        <div class="price-box"><span class="price-box__new">$65.00</span> <span class="price-box__old">$84.00</span></div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-wrapper category2 category3">
                                <div class="product-preview">
                                    <div class="product-preview__image">
                                        <a href="product.html"><img src="images/products/product-3.jpg"  alt=""/></a>
                                        <div class="product-preview__label product-preview__label--left product-preview__label--new"><span>new</span></div>
                                    </div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <div class="price-box">$65.00</div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-wrapper category2 category4">
                                <div class="product-preview">
                                    <div class="product-preview__image">
                                        <a href="product.html"><img src="images/products/product-4.jpg"  alt=""/></a>
                                        <div class="product-preview__label product-preview__label--left product-preview__label--new"><span>new</span></div>
                                    </div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <div class="price-box">$65.00</div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-wrapper category1 category3">
                                <div class="product-preview">
                                    <div class="product-preview__image">
                                        <a href="product.html"><img src="images/products/product-5.jpg"  alt=""/></a>
                                        <div class="product-preview__label product-preview__label--right product-preview__label--sale"><span>sale<br>
                                            -10%</span>
                                        </div>
                                    </div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <div class="price-box"><span class="price-box__new">$65.00</span> <span class="price-box__old">$84.00</span></div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-wrapper category4">
                                <div class="product-preview">
                                    <div class="product-preview__image"><a href="product.html"><img src="images/products/product-6.jpg"  alt=""/></a></div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <div class="price-box">$65.00</div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-wrapper category3">
                                <div class="product-preview">
                                    <div class="product-preview__image"><a href="product.html"><img src="images/products/product-7.jpg"  alt=""/></a></div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <div class="price-box">$65.00</div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-preview-wrapper category3 category4">
                                <div class="product-preview">
                                    <div class="product-preview__image"><a href="product.html"><img src="images/products/product-8.jpg"  alt=""/></a></div>
                                    <div class="product-preview__info text-center">
                                        <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                                        <div class="product-preview__info__title">
                                            <h2><a href="#">Fast Seconds Knit White</a></h2>
                                        </div>
                                        <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                                        <div class="price-box">$65.00</div>
                                        <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content content--fill top-null">
                    <div class="container">
                        <h2 class="text-center text-uppercase">products brands</h2>
                        <div class="brands brands-carousel animated-arrows mobile-special-arrows">
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/logoTGM.png" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/westinghouselogo.svg" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/logoLG.jpg" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/philco_logo_lg.jpg" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/copeland.png" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/bryantlogo.jpg" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/Logo-Witt.jpg" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/brand-01.png" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/brand-02.png" alt=""/></a></div>
                            <div class="brands__item"><a href="#"><img src="images/brand-empty.png" data-lazy="images/brand-03.png" alt=""/></a></div>
                        </div>
                    </div>
                </section>
                <!-- End Content section -->
            </div>
        </div>
        <div class="compare-box" id="compareBox">
            <div class="container">
                <div class="compare-box__header">
                    <h3 class="compare-box__header__title">Compare</h3>
                    <div class="compare-box__header__toggle"><span class="compare-box__header__toggle__hide hide-compare">Hide<span class="icon icon-arrow-down"></span></span><span class="compare-box__header__toggle__show show-compare">Show<span class="icon icon-arrow-up"></span></span><span class="compare-box__header__toggle__close close-compare"><span class="icon icon-clear"></span></span></div>
                </div>
                <div class="compare-box__items">
                    <ul class="compare-box__items__list compare-carousel nav-top">
                        <li class="compare-box__items__list__item">
                            <div class="compare-box__items__list__item__delete"><a href="#" class="icon icon-clear"></a></div>
                            <a href="#"><img src="images/products/product-2.jpg" alt=""></a>
                        </li>
                        <li class="compare-box__items__list__item empty">
                            <div class="compare-box__items__list__item__num">1</div>
                            <img src="images/products/product-empty.png" alt=""/>
                        </li>
                        <li class="compare-box__items__list__item empty">
                            <div class="compare-box__items__list__item__num">2</div>
                            <img src="images/products/product-empty.png" alt=""/>
                        </li>
                        <li class="compare-box__items__list__item empty">
                            <div class="compare-box__items__list__item__num">3</div>
                            <img src="images/products/product-empty.png" alt=""/>
                        </li>
                        <li class="compare-box__items__list__item empty">
                            <div class="compare-box__items__list__item__num">4</div>
                            <img src="images/products/product-empty.png" alt=""/>
                        </li>
                        <li class="compare-box__items__list__item empty">
                            <div class="compare-box__items__list__item__num">5</div>
                            <img src="images/products/product-empty.png" alt=""/>
                        </li>
                        <li class="compare-box__items__list__item empty">
                            <div class="compare-box__items__list__item__num">6</div>
                            <img src="images/products/product-empty.png" alt=""/>
                        </li>
                    </ul>
                    <div class="compare-box__actions">
                        <div class="compare-box__actions__btns"> <a href="#" class="btn btn--wd btn--lg text-uppercase">Compare</a> <a href="#" class="btn btn--wd btn--lg btn--light text-uppercase" id="removeAllCompare">Clear All</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" role="dialog" id="modalAddToCart">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <button type="button" class="close icon-clear" data-dismiss="modal"></button>
                    <div class="text-center">
                        <div class="divider divider--xs"></div>
                        <p>Product added to cart successfully! </p>
                        <div class="divider divider--xs"></div>
                        <a href="#" class="btn btn--wd">Go to Cart</a>
                        <div class="divider divider--xs"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" role="dialog" id="modalAddToWishlist">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <button type="button" class="close icon-clear" data-dismiss="modal"></button>
                    <div class="text-center">
                        <div class="divider divider--xs"></div>
                        <div class="loading">
                            <div class="divider divider--sm"></div>
                            <div class="loader">
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                            </div>
                        </div>
                        <p class="success">Product added to wishlist successfully! </p>
                        <div class="divider divider--xs"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor -->
        <!-- jQuery 1.10.1-->
        <script src="vendor/jquery/jquery.js"></script>
        <!-- Bootstrap 3-->
        <script src="vendor/bootstrap/bootstrap.min.js"></script>
        <!-- Specific Page Vendor -->
        <script src="vendor/waves/waves.min.js"></script>
        <script src="vendor/slick/slick.min.js"></script>
        <script src="vendor/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="vendor/parallax/jquery.parallax-1.1.3.js"></script>
        <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="vendor/waypoints/sticky.min.js"></script>
        <script src="vendor/doubletaptogo/doubletaptogo.js"></script>
        <script src="vendor/isotope/isotope.pkgd.min.js"></script>
        <script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="vendor/countdown/jquery.plugin.min.js"></script>
        <script src="vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="vendor/form/jquery.form.js"></script>
<script src="vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
<!-- Parallax carousel / JS -->
        <script src="vendor/parallax-carousel/pcarousel-plugin.min.js"></script>
        <script src="vendor/parallax-carousel/pcarousel-init.min.js"></script>
        <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
        <script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {



            	jQuery('.tp-banner').show().revolution(
            	{
            		dottedOverlay:"none",
            		delay:16000,
            		startwidth:1170,
            		startheight:700,
            		hideThumbs:200,
            		hideTimerBar:"on",

            		thumbWidth:100,
            		thumbHeight:50,
            		thumbAmount:5,

            		navigationType:"none",
            		navigationArrows:"",
            		navigationStyle:"",

            		touchenabled:"on",
            		onHoverStop:"on",

            		swipe_velocity: 0.7,
            		swipe_min_touches: 1,
            		swipe_max_touches: 1,
            		drag_block_vertical: false,

            		parallax:"mouse",
            		parallaxBgFreeze:"on",
            		parallaxLevels:[7,4,3,2,5,4,3,2,1,0],

            		keyboardNavigation:"off",

            		navigationHAlign:"center",
            		navigationVAlign:"bottom",
            		navigationHOffset:0,
            		navigationVOffset:20,

            		soloArrowLeftHalign:"left",
            		soloArrowLeftValign:"center",
            		soloArrowLeftHOffset:20,
            		soloArrowLeftVOffset:0,

            		soloArrowRightHalign:"right",
            		soloArrowRightValign:"center",
            		soloArrowRightHOffset:20,
            		soloArrowRightVOffset:0,

            		shadow:0,
            		fullWidth:"off",
            		fullScreen:"on",

            		spinner:"",

            		stopLoop:"off",
            		stopAfterLoops:-1,
            		stopAtSlide:-1,

            		shuffle:"off",

            		autoHeight:"off",
            		forceFullWidth:"off",

            		hideThumbsOnMobile:"off",
            		hideNavDelayOnMobile:1500,
            		hideBulletsOnMobile:"off",
            		hideArrowsOnMobile:"off",
            		hideThumbsUnderResolution:0,

            		hideSliderAtLimit:0,
            		hideCaptionAtLimit:0,
            		hideAllCaptionAtLilmit:0,
            		startWithSlide:0,
            		fullScreenOffsetContainer: ".header"
            	});




            });	//ready

        </script>
    </body>
</html>
