<!-- Alternate Body Classes: .modern and .vintage -->

    <!-- Navigation -->
    <!-- Note: navbar-default and navbar-inverse are both supported with this theme. -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-expanded">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="img/logosmall.png" class="img-responsive" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#work">Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <header style="background-image: url('img/house3.png');">
        <div class="intro-content">
            <img src="" class="img-responsive img-centered" alt="">
            <div class="brand-name"><img src="img/logofull2.png"></div>
            <hr class="colored">
            <div class="brand-name-subtext"><b>Miami, FL</b></div>
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>
    <section id="about">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h1><img src="img/logofull3.png"></h1>
                    <p>Refricenter International has long been committed to being one of <br>South Florida's leading stocking distributors of HVACR equipment, parts and supplies.</p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row text-center content-row">
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                    <div class="about-content">
                        <i class="fa fa-eye fa-4x"></i>
                        <h3>Reputation</h3>
                        <p>Our nine branches are located across South Florida, servicing areas stretching from Miami-Dade County through West Palm Beach.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="about-content">
                        <i class="fa fa-edit fa-4x"></i>
                        <h3>Leaders</h3>
                        <p>We serve all South Florida HVACR contractors' needs with our full line of products and services - including our leading brands of A/C equipment - Westinghouse, Philco, LG, Luxaire, and Climate Master. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                    <div class="about-content">
                        <i class="fa fa-university fa-4x"></i>
                        <h3>History</h3>
                        <p>Refricenter also has affiliate companies located in both Puerto Rico and the Dominican Republic, where they have been market leaders since the 1960's.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                    <div class="about-content">
                        <i class="fa fa-plane fa-4x"></i>
                        <h3>International</h3>
                        <p>As of the beginning of 2013, there are 15 stores located within Puerto Rico and another 15 stores based in the Dominican Republic.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="bg-gray">
        <div class="container text-center wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <center><img src="img/round.png"></center>
                    <h2>Our Team</h2>
                    <p>Our experienced and well staffed export department services all Central and South American countries, the Caribbean, and Mexico. We are backed by the largest and most complete inventory of air conditioning equipment in both 60hz and 50hz under our own renowned brands: TGM, Classic, and Excell. Working in unison with our Traffic department, we make sure that customers' orders are processed quickly and correctly in order to make sure your business keeps moving. </p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="about-carousel">
                        <div class="item">
                            <img src="img/team5.jpg" class="img-responsive" alt="">
                            <div class="caption">


                            </div>
                        </div>
                        <div class="item">
                            <img src="img/team4.jpg" class="img-responsive" alt="">
                            <div class="caption">

                            </div>
                        </div>

                        <div class="item">
                            <img src="img/team3.jpg" class="img-responsive" alt="">
                            <div class="caption">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="cta-quote" style="background-image: url('img/north.png');">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <center><img src="img/logomed.png"></center>
                    <span class="quote">We invite you to <span class="text-primary">visit</span> one of our store locations and familiarize yourself with our <span class="text-primary">staff</span> and the over 10,000 items in our <span class="text-primary">inventory</span></span>
                    <hr class=" colored">
                    <a class="btn btn-outline-light page-scroll" href="#portfolioModal100" data-toggle="modal">Let's Find It</a>
                </div>
            </div>
        </div>
    </aside>

    <section id="product" class="bg-gray">
        <div class="container text-center wow fadeIn">
            <center><img src="img/logosmall.png"></center>
            <h2>Products</h2>
            <hr class="colored">
            <p>Take a look at some of the products we carry. Online Store Coming Soon!!</p>
        </div>
    </section>
    <section id="products" class="portfolio-carousel wow fadeIn">
        <div class="item" style="background-image: url('img/ac.png')">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <div class="project-details">
                            <span class="project-name"><b>Search by Category</span>
                            <span class="project-description">Search Refricenter's inventory by Category</b></span>
                            <hr class="colored">
                            <a href="#portfolioModal1" data-toggle="modal" class="btn btn-outline-light">Search<i class="fa fa-long-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-pull-4 hidden-xs">
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('img/brands.png')">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <div class="project-details">
                            <span class="project-name"><b>Search by Brand</span>
                            <span class="project-description">Search Refricenter's inventory by Brand</b></span>
                            <hr class="colored">
                            <a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light">Search<i class="fa fa-long-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-pull-4 hidden-xs">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="testimonials" class="testimonials bg-gray">
        <div class="container text-center wow fadeIn">
          <h2>Testimonials</h2>
          <hr class="colored">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="testimonials-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead">"Very honest and dependable highly recommend"</p>
                                    <!-- <hr class="colored"> -->
                                    <p class="quote"></p>
                                    <div class="testimonial-info">
                                        <div class="testimonial-img">
                                            <img src="img/james.jpg" class="img-circle img-responsive" alt="">
                                        </div>
                                        <div class="testimonial-author">
                                            <span class="name">James Dalla Rosa</span>
                                            <p class="small">Volusia County Sheriff's Office</p>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead">"My experience was great"</p>
                                    <!-- <hr class="colored"> -->
                                    <p class="quote">This place is great for any air conditioning parts you may need. Oswaldo and Tony are great people and are very knowledgable. They'll help you with any problem you have!</p>
                                    <div class="testimonial-info">
                                        <div class="testimonial-img">
                                            <img src="img/esteban.jpg" class="img-circle img-responsive" alt="">
                                        </div>
                                        <div class="testimonial-author">
                                            <span class="name">Esteban M.</span>
                                            <p class="small">Yelp</p>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta-form bg-dark">
        <div class="container text-center">
            <h3>Subscribe to our newsletter!</h3>
            <hr class="colored">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <!-- Replace the form action in the line below with your MailChimp embed action! For more informatin on how to do this please visit the Docs! -->
                        <form role="form" action="" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                            <div class="input-group input-group-lg">
                                <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address...">
                                <span class="input-group-btn">
                                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Subscribe!</button>
                                </span>
                            </div>
                            <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                        </form>
                    </div>
                    <!-- End MailChimp Signup Form -->
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="colored">
                    <p>Please tell us about your next project and we will let you know what we can do to help you. Here at Refricenter, we believe that having strong customer service is the most important thing when it comes to maintain long-lasting relationships with our clientele. We encourage you to contact us and see how we can help you move your business forward. </p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-outline-dark">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Modals -->
    <!-- Example Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal100" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('img/white.png')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <center><img src="img/round.png"></center>
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Locations</h2>
                            <hr class="colored">
                            <h4>Refricenter International Headquarters</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=7101,NW+43rd+St,Miami,Florida">7101 NW 43rd Street<br>Miami, FL 33166 </p>
                            <p>Phone: <a href="tel:3054778880">(305) 477-8880</a></p>
                            <p>Fax: (305) 599-9323</p>
                            <p>Manager: <b>Jose Hernandez</b></p><br>

                            <h4>Refricenter West</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p>Saturday: 8:00 AM - 12:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=Refricenter+West">7360 NW 58 Street<br>Miami, FL 33166</a></p>
                            <p>Phone: <a href="tel:3054778880">(305) 477-8880</a></p>
                            <p>Fax: (305) 599-9323</p>
                            <p>Manager: Luis Brito</p><br>

                               <h4>Refricenter Hialeah</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p>Saturday: 8:00 AM - 12:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=3599+NW+54th+St+Miami+FL">3599 NW 54th Street<br>Miami, FL 33142</a></p>
                            <p>Phone: <a href="tel:3056331535">(305) 633-1535</a></p>
                            <p>Fax: (305) 633-6438</p>
                            <p>Manager: Rolando Marrero</p><br>

                               <h4>Refricenter South</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p>Saturday: 8:00 AM - 12:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=Refricenter+South">8884 SW 129th Street<br>Miami, FL 33176</a></p>
                            <p>Phone: <a href="tel:3052519675">(305) 251-9675</a></p>
                            <p>Fax: (305) 252-1629</p>
                            <p>Manager: Tony Venzal</p><br>

                               <h4>Refri-Air Appliance Parts</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p>Saturday: 8:00 AM - 12:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=Refri-Air+Appliance+Parts">7145 SW 8th Street<br>Miami, FL 33144</a></p>
                            <p>Phone: <a href="tel:3052667445">(305) 266-7445</a></p>
                            <p>Fax: (305) 266-7491</p>
                            <p>Manager: Ulises Gonzalez</p><br>

                            <h4>Refricenter Tamiami</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p>Saturday: 8:00 AM - 12:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=Refricenter+Tamiami">13500 SW 131st Street<br>Miami, FL 33186</a></p>
                            <p>Phone: <a href="tel:7863600660">(786) 360-0660</a></p>
                            <p>Fax: (305) 969-7380</p>
                            <p>Manager: Julio Rodriguez</p><br>

                            <h4>Refricenter Broward</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p>Saturday: 8:00 AM - 12:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=Refricenter+Broward">2601-A Gateway Drive<br>Pompano Beach, FL 33069</a></p>
                            <p>Phone: <a href="tel:9549681010">(954) 968-1010</a></p>
                            <p>Fax: (954) 968-1019</p>
                            <p>Manager: Sergio Rodriguez</p><br>

                            <h4>Refricenter West Palm Beach</h4>
                            <p>Monday - Friday: 7:30 AM - 5:00 PM</p>
                            <p>Saturday: 8:00 AM - 12:00 PM</p>
                            <p><a href="http://maps.apple.com/?address=Refricenter+West Palm Beach">1685 Florida Mango Road North<br>West Palm Beach, FL 33409</a></p>
                            <p>Phone: <a href="tel:5616898075">(561) 689-8075</a></p>
                            <p>Fax: (561) 689-8265</p>
                            <p>Manager: Lino Morgade</p><br>
                        </div>
                        <div class="col-lg-12">

                        </div>
                        <div class="col-lg-8 col-lg-offset-2">

                            <br><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('img/house6.png')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2><b>Categories</h2>
                            <hr class="colored">
                              <img src="img/inverter.png" class="img-responsive img-centered" alt="">
                            <h3>Inverter Mini-Splits</h3>
                            <p>Wide Range of Product Offerings Including High Efficiency and Inverter Units</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>

                        <img src="img/ducted.png" class="img-responsive img-centered" alt="">
                            <h3><b>Ducted Systems</h3>
                            <p>Single-phase Split Systems with a capacity from 1-5 Tons</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>

                         <img src="img/lgductfree.png" class="img-responsive img-centered" alt="">
                            <h3><b>LG Duct Free Systems</h3>
                            <p>LG's Duct-Less Single Zone And Multi-Zone Offerings Reduce Contractor Costs And Save Consumers Money On Electricity</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>

                         <img src="img/commercial.png" class="img-responsive img-centered" alt="">
                            <h3><b>Commercial Air Conditioners</h3>
                            <p>Packaged Units And Large Scale Equipment for Businesses, Hotels, and Industrial Needs</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>
                            <img src="img/onoff.png" class="img-responsive img-centered" alt="">
                            <h3><b>On/Off Mini Splits</h3>
                            <p>On/Off Mini-Splits Offer Great Value For The Cooling Of An Isolated Space</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>

                            <img src="img/refri.png" class="img-responsive img-centered" alt="">
                            <h3><b>Refrigeration</h3>
                            <p>Condensing Units and Evaporators for Reach-In Coolers, Walk-In Coolers, and Freezers</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>
                         <img src="img/room.png" class="img-responsive img-centered" alt="">
                            <h3><b>Room Air Conditioners, Portables and Dehumidifiers</h3>
                            <p>Ductless, Pipeless Air Conditioning Units Housed All Together, Typically To Cool One Room.</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>
                            <img src="img/fan.png" class="img-responsive img-centered" alt="">
                            <h3><b>Fan Coils, Universal Mounts and Cassettes</h3>
                            <p>Fan Coils for a Wide Range of Applications</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>
                            <img src="img/compress.png" class="img-responsive img-centered" alt="">
                            <h3><b>Compressors</h3>
                            <p>Ample Variety In Order to Meet All Residential, Commercial, and Industrial Needs</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>
                            <img src="img/controls.png" class="img-responsive img-centered" alt="">
                            <h3><b>Controls</h3>
                            <p>Control, Monitoring and Automation Products for Cooling Systems</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>
                            <img src="img/insulation.png" class="img-responsive img-centered" alt="">
                            <h3><b>Insulation</h3>
                            <p>Solutions for Making Ducts in Air Conditioning, Heating, and Ventilation.</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>
                            <img src="img/other.png" class="img-responsive img-centered" alt="">
                            <h3><b>Other Products</h3>
                            <p>Refrigerants, Copper Tubing, Accessories, Materials and Tools</p></b>

                        <div class="col-lg-12">
                             <a href="#portfolioModal" data-toggle="modal" class="btn btn-outline-light">View Products<i class="fa fa-long-arrow-right fa-fw"></i></a><br><br>
                        </div>

                           <br><br> <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('img/white.png')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h3>Ultra Premier Inverter System</h3>
                            <hr class="colored">
                            <p><a href="http://www.refripartesrd.com/uploads/MWPHT.pdf">Specifications MWPHT/MRPHT</a></p>
                        </div>
                        <div class="col-lg-12">
                            <img src="img/ultra.png"  width="200px" class="img-responsive img-centered" alt="">
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <p><b>Description</b></p>
                            <ul class="list-inline item-details">
                                 <li>- R-410A Refrigerant
                                </li>
                                <li>- Market leading efficiency up to 27 SEER
                                </li>
                                <li>- Sleek, metallic design
                                </li>
                                <li>- AHRI, Energy Star, and ETL Certified
                                </li>
                                <li>- Refrigerant leakage detection
                                </li>
                                <li>- Self-cleaning system leaves indoor unit dry and prevents accumulation of mildew
                                </li>
                            </ul>
                                <p><b>Avaliable Capacities:</b></p>
                                  <ul class="list-inline item-details">
                                 <li>- 9,000 BTU/h
                                </li>
                                <li>- 12,000 BTU/h
                                </li>
                                <li>- 18,000 BTU/h
                                </li>
                                <li>- 24,000 BTU/h
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('img/white.png')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <!-- <img src="img/adflkj.png" class="img-responsive img-centered" alt=""> -->
                            <h2>______</h2>
                            <hr class="colored">
                            <p>______</p>
                        </div>
                        <div class="col-lg-12">
                            <!-- <img src="img/portfolio.png" class="img-responsive img-centered" alt=""> -->
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="list-inline item-details">
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('img/white.png')">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <!-- <img src="img/adflkj.png" class="img-responsive img-centered" alt=""> -->
                            <h2>______</h2>
                            <hr class="colored">
                            <p>______</p>
                        </div>
                        <div class="col-lg-12">
                            <!-- <img src="img/portfolio/.png" class="img-responsive img-centered" alt=""> -->
                        </div>
                        <div class="col-lg-8 col-lg-offset-2">
                            <ul class="list-inline item-details">
                                <li>
                                </li>
                                <li>
                                </li>
                                <li>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
