<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

  <div id="pageContent">

    <!-- Breadcrumb section -->

    <section class="breadcrumbs  hidden-xs">
      <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
          <li><a href="#">Home</a></li>
          <li class="active">locations</li>
        </ol>
      </div>
    </section>

    <!-- Content section -->
    <section class="content">
      <div class="container">
        <h2 class="text-uppercase">locations</h2>
        <div class="card card--padding">
          <div class="row">
            <div class="col-sm-7 col-md-8">
              <h4 class="text-uppercase">Visit us at one of our many locations</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7 col-md-8">


              <div class="container">
                <ul class="nav nav-tabs">
                  <!-- <li class="active"><a data-toggle="tab" href="#home">Home</a></li> -->
                  <li><a data-toggle="tab" href="#menu1">Refricenter International</a></li>
                  <li><a data-toggle="tab" href="#menu2">Refricenter North</a></li>
                  <li><a data-toggle="tab" href="#menu3">Refricenter South</a></li>
                  <li><a data-toggle="tab" href="#menu4">Refricenter Hialeah</a></li>
                  <li><a data-toggle="tab" href="#menu5">Refricenter Broward</a></li>
                  <li><a data-toggle="tab" href="#menu6">Refricenter Palm Beach</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <!-- <h3>Refricenter International</h3> -->
                    <p></p>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <h3>Refricenter International</h3>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d916670.8898945167!2d-80.80819875344801!3d26.17241138341232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x690a654eb147e168!2sRefricenter+International!5e0!3m2!1sen!2sus!4v1460400287675" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                  </div>
                  <div id="menu2" class="tab-pane fade">
                    <h3>Refricenter North</h3>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d916670.8897640896!2d-80.8081988!3d26.17241140000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x45e2a5715ae15327!2sRefricenter+North!5e0!3m2!1sen!2sus!4v1460402646919" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                  </div>
                  <div id="menu3" class="tab-pane fade">
                    <h3>Refricenter South</h3>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d916670.8897640896!2d-80.8081988!3d26.17241140000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x5389e6327fd9ef4d!2sRefricenter+South!5e0!3m2!1sen!2sus!4v1460402714651" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                  </div>
                  <div id="menu4" class="tab-pane fade">
                    <h3>Refricenter Hialeah</h3>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d916670.8897640897!2d-80.8081988!3d26.1724114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xd05f8adae6993268!2sRefricenter+Hialeah!5e0!3m2!1sen!2sus!4v1460401829395" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                  </div>
                  <div id="menu5" class="tab-pane fade">
                    <h3>Refricenter Broward</h3>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d457685.4049139307!2d-80.36219616075118!3d26.33727299594853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2c71c41b11840585!2sRefricenter+Broward!5e0!3m2!1sen!2sus!4v1460409306326" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                  </div>
                  <div id="menu6" class="tab-pane fade">
                    <h3>Refricenter West Palm Beach</h3>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d456234.4030732761!2d-80.35968436718747!3d26.701861900000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d8d6393323e675%3A0x4e5ed66c44c53910!2sRefricenter+West+Palm+Beach!5e0!3m2!1sen!2sus!4v1460409367715" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                  </div>
                  <div id="menu7" class="tab-pane fade">
                    <h3>Refricenter West</h3>
                    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d459859.2021322996!2d-80.44047374864172!3d25.782121161557026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ba3238415573%3A0xab3ffcecfb2e52b2!2sRefricenter+West!5e0!3m2!1sen!2sus!4v1460409233624" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                  </div>
                </div>
              </div>


            <div class="divider divider--sm visible-xs"></div>
            <!-- <div class="col-sm-5 col-md-4"> <a href="#" class="btn btn--wd btn--xxl animation" data-animation="fadeInUp" data-animation-delay="0.5s">JOIN OUR TEAM</a> </div> -->
          </div>
        </div>
        <div class="divider divider--md"></div>
        <div class="row">
          <div class="col-sm-3 animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-money"></a>
                <h5 class="card--icon__cell__title text-uppercase">Online PAYMENTS</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-3 animation" data-animation="fadeInLeft" data-animation-delay="0s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-truck"></a>
                <h5 class="card--icon__cell__title text-uppercase">FREE SHIPPING</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-3 animation" data-animation="fadeInRight" data-animation-delay="0s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-responsive"></a>
                <h5 class="card--icon__cell__title text-uppercase">Many FEATURES</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-3 animation" data-animation="fadeInRight" data-animation-delay="0.5s">
            <div class="card card--icon">
              <div class="card--icon__cell"> <a href="#" class="icon card--icon__cell__icon icon-help"></a>
                <h5 class="card--icon__cell__title text-uppercase">Dedicated support</h5>
              </div>
              <div class="card--icon__text text-center"> <em>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec.</em> </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="content content--fill bottom-null">
      <div class="container">
        <h2 class="text-center">WE CREATE HIGH <strong>QUALITY PRODUCTS</strong> THAT ARE USED AND LOVED BY THOUSANDS OF CUSTOMERS</h2>
        <div class="row">
          <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
            <h5 class="text-uppercase">Mauris aliquet ultricies ante, non faucibus ante.</h5>
            <p>In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor. Fusce lacinia tempor malesuada. Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.</p>
            <div class="divider divider--xs"></div>
            <p><a href="#" class="btn btn--wd">READ MORE</a></p>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0s">
            <h5 class="text-uppercase">Quisque vestibulum massa.</h5>
            <p>In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor. Fusce lacinia tempor malesuada. Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.</p>
            <div class="divider divider--xs"></div>
            <p><a href="#" class="btn btn--wd">READ MORE</a></p>
          </div>
          <div class="divider divider--sm visible-xs"></div>
          <div class="col-sm-4 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
            <h5 class="text-uppercase">Nulla libero. Donec et mi eu massa labore.</h5>
            <p>In pellentesque lorem condimentum dui morbi pulvinar dui non quam pretium ut lacinia tortor. Fusce lacinia tempor malesuada. Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero.</p>
            <div class="divider divider--xs"></div>
            <p><a href="#" class="btn btn--wd">READ MORE</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Content section -->
  </div>
</div>
<!-- Vendor -->
<!-- jQuery 1.10.1-->
<script src="vendor/jquery/jquery.js"></script>
<!-- Bootstrap 3-->
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<!-- Specific Page Vendor -->
<script src="vendor/waves/waves.min.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="vendor/parallax/jquery.parallax-1.1.3.js"></script>
<script src="vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="vendor/waypoints/sticky.min.js"></script>
<script src="vendor/doubletaptogo/doubletaptogo.js"></script>
<script src="vendor/elevatezoom/jquery.elevatezoom.js"></script>
<script src="vendor/imagesloaded/imagesloaded.pkgd.min.js"></script><script src="vendor/countdown/jquery.plugin.min.js"></script>
<script src="vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="vendor/form/jquery.form.js"></script>
<script src="vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="js/custom.js"></script>
</body>
</html>
