body.modal-open {
	overflow-y: scroll;
	padding-right: 0 !important;
}
.modal {
	z-index: @overlay-z-index + 1;
    text-align: center;
	padding: 0 !important;
	&.quick-view {
		.modal-dialog {
			width: 940px;
			max-width: 90%;
	  		.transition (all, 300ms);
		}
	}
	&:before {
		  content: '';
		  display: inline-block;
		  height: 100%;
		  vertical-align: middle;
		  margin-right: -4px; /* Adjusts for spacing */
	}
	.modal-dialog {
	  display: inline-block;
	  text-align: left;
	  vertical-align: middle;
	  overflow: hidden;
	}
	.modal-content {
	  padding: 35px 20px;
	  .mdShadow(3);
	  border-radius: 0;
	}
	button.close {
		margin: -20px -5px 0 0;
		font-size: 14px;
//		color: #000;
		opacity: 1;
	}
	&--bg {
		.modal-dialog {
			width: auto !important;
			max-width: 678px;
			position: relative;		
			padding: 0;
		}
		.modal-header {
			position: absolute;
			z-index: 1;
			right: 0;
			top: 0;
			border: 0;
			padding: 14px;
			button.close {
				margin: 0;
				font-size: 20px;
//				color: #000;
				opacity: 1;
			}
		}
		.modal-content {

			@media (min-width: @screen-sm-min) {
				position: absolute;
				.vertical-align;
				padding: 0 75px;			
			}			

			@media (max-width: @screen-sm-max) {
				padding: 0 25px;
			}
			@media (max-width: @screen-xs-max) {
				padding: 45px 15px;
//				background: url('../images/newsletter-bg.jpg') no-repeat right 0;
			}
			text-align: center;
			background: transparent;
			border: 0;
			width: 100%;
			.drop-shadow (0,0,0,0,0);
			h1, h2, h3 {
				padding-bottom: 15px;
			}
			input {
				max-width: 400px;
				margin: 25px 0 20px 0;
				padding: 11px 15px;
				height: 44px;
			}
		}
		.modal-body {
			padding: 0;
		}
		.modal-footer {
			border: 0;
		}
		.popup-dont-show {
			position: absolute;
			bottom: 40px;
			left: 20px;
			text-align: left;
			color: #3b3434;
			font-size: 10px;
			font-weight: 300;
		}
		@media (max-width: @screen-xs-max) {
			.modal-bg-image {
				display: none;
			}
		}
	}
}
.modal-backdrop {
	z-index: @overlay-z-index;
}
.overlay {
	z-index: @overlay-z-index;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
//	background: fade(@color-black,95%);
}

.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	font-size: 40px;
//	color: @color-white;
	background: transparent;
	outline: none;
	z-index: 100;
}

.overlay__content {
	position: relative;
	.vertical-align;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
.overlay .input-group--wd input {
//	color: @color-white;
	text-align: center;
	font-size: 36px;
	line-height: 42px;
	font-weight: 300;
	@media (max-width: @screen-sm-max) {
		font-size: 25px;
		line-height: 36px;
	}
}
@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

body.modal-open {
	 overflow: hidden !important;
}