<!-- <div id="categories" class="transitions-enabled "> -->
<div id="categories" class="container">
  <% @categories.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.each do |category| %>
          <div class="col-md-4">
            <h3><%= category.name %></h3>
            <%= link_to image_tag(category.image), category %>
            <p>
              <%= category.description %>
            </p>
          </div>
      <% end %>
    </div>
  <% end %>
</div>
