<p id="notice"><%= notice %></p>
<div>
<h4><%= @category.name %> category</h4>
<h4> <%= @category.description %></h4>
</div>
<!-- <p>
  <strong>Name:</strong>
  <%#= @category.name %>
</p> -->

<%#= link_to 'Edit', edit_category_path(@category) %>
<%#= link_to 'Back', categories_path %>
<%#= link_to "Products in this category", category_products_path(@category.id) %>
<%= render partial: 'products/mini_index', object: @products %>
