<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>Refricenter</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="WellDone - Responsive HTML5 Template">
        <meta name="author" content="etheme.com">
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Web Fonts  -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
        <!-- Icon Fonts  -->
        <link rel="stylesheet" href="font/style.css">
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="vendor/waves/waves.css">
        <link rel="stylesheet" href="vendor/slick/slick.css">
        <link rel="stylesheet" href="vendor/slick/slick-theme.css">
        <link rel="stylesheet" href="vendor/bootstrap-select/bootstrap-select.css">
                <!-- Parallax carousel / CSS -->
        <link rel="stylesheet" href="vendor/parallax-carousel/pcarousel.min.css" >
        <!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="vendor/rs-plugin/css/settings.css" media="screen" />
        <!-- Head Libs -->
        <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
        <!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
        <!-- Modernizr -->
        <script src="vendor/modernizr/modernizr.js"></script>
    </head>
    <body>

  <%= render 'partials/nav' %>

  <%= yield %>

  <%= render 'partials/footer' %>


  </footer>
  </body>
  </html>
