<!DOCTYPE html>
<html>
<head>
  <!-- Plain html for now  -->
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>Refricenter</title>
  <%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
