  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta name="description" content="">
      <meta name="author" content="">
    <title>Refricenter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body id="page-top">
  <%= yield %>
  <footer class="footer" style="background-image: url('img/contact.png')">
      <div class="container text-center">
          <div class="row red">
              <div class="col-md-4 contact-details red">
                  <h4><i class="fa fa-phone"></i> Call</h4>
                  <p><a href="tel:3054778880">(305) 477-8880</a></p>
              </div>
              <div class="col-md-4 contact-details red">
                  <h4><i class="fa fa-map-marker"></i> Visit</h4>
                  <p><a href="http://maps.apple.com/?address=7101,NW+43rd+St,Miami,Florida">7101 NW 43rd Street
                      <br>Miami, FL 33166</a></p>
              </div>
              <div class="col-md-4 contact-details red">
                  <h4><i class="fa fa-envelope"></i> Email</h4>
                  <p><a href="mailto:mail@example.com">mail@example.com</a>
                  </p>
              </div>
          </div>
          <div class="row social">
              <div class="col-lg-12">
                  <ul class="list-inline">
                      <li><a href="https://www.facebook.com/RefricenterOfMiami/"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="row copyright">
              <div class="col-lg-12">
                  <p class="small">&copy;<b> Refricenter 2015</b></p>
              </div>
          </div>
      </div>
  </footer>
  </body>
  </html>
